/* this file is for netpix css */
body{
    background-color: #141414;
}
.top-container{
    width: 100%;
    height: 1%;
}
.header{
    float: left;
    width: 15%;

}
.searchbar{
    /* margin-left: 50px; */
    margin-left: 5%;
    margin-top: 30px;
    height: 30px;
    background-color: #141414;
    border-color: white;
    border-width: 1px;
    width: 30%;
    outline: none;
}
input, select, textarea{
    color:white;
}

/* Popular shows------------------------------------------------------------------------------------------------------------------------------------ */
.homepageTitle{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font:Arial;
    margin-top: 4%;
    margin-left: 2%;
}

.popularcard{
    display: table;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: start;
}

.column{
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 210px;
    cursor: pointer;
    outline: none;
    border:none;
}
/* fix this hover for the button */

.popularTvShow{
    height: 282px;
    width: 210px;
} 

.popular-img{
    height: 100%;
    width:100%;
}
.pMiddle{
    max-height:100%;
    max-width: 100%;
    height: 282px;
    width: 210px;

}

/* search page ------------------------------------------------------------------------------------------------- */
.searchresults{
    margin-top: 5%;
    display:none;
}
.searchColumn{
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 200px;
    cursor: pointer;
    outline: none;
    border:none;
}

.searchTvShow{
    height: 100px;
    width: 200px;
}

.results{
    color: white;
    background-color: #141414;
    width: 200px;
    height: 100px;
    cursor: pointer;
}
.results:hover{
    color: red;
}

/* result page ------------------------------------------------------------------------------------------ */
.resultPage{
    display:none;
}
.resultContent{
    width: 60%;
    text-align: center;
    margin-top: 5%;
}
.showTitle, .episodeName, .episodeDate, .episodeSeason,.showDescription{ 
    color:white;
    text-align: center;
}
.descriptionTitle{
    color:white;
    text-align: left;
}
/* .episodeName{
    color: white;
}
.episodeDate{
    color:white;
}
.episodeSeason{
    color: white;
}
.showDescription{
    color:white;
} */