/* header --------------------------------------------------------------------- */
body{
    background-color: #141414;
    width:95%;
}

.top-container{
    padding-top: 2%;
    padding-left: 3%;
    width: 100%;
    height: 1%;
    display: flex;
    align-items: center;
}
.header{
    float: left;
    width: 10%;
    
    cursor: pointer;

}
.searchbar{
    margin-left: 5%;
    height: 30px;
    background-color: #141414;
    border-color: white;
    border-width: 1px;
    width: 30%;
    outline: none;
}
.close{
    color: white;
    font-family: 'Assistant';
    font-size: 20px;
    margin: none;
    padding-left: 8px;
    cursor: pointer;
    display: none;
}

input, select, textarea{
    color:white;
}

/* Popular shows------------------------------------------------------------------------------------------------------------------------------------ */
.homepage{
    width:100%;
}
.homepageTitle{
    color: white;
    font-family: 'Assistant';
    padding-top: 4%;
    padding-left: 2%;
}
.popularshows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    width: 100%;
    margin-left: 2.5%;
}

.popularcard{
    display: table;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: start;
}

.column{
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 210px;
    cursor: pointer;
    outline: none;
    border:none;
    transition: transform .2s;
}
.column:hover{
    transform: scale(1.1);
}

.popularTvShow{
    height: 282px;
    width: 210px;
} 

.popular-img{
    height: 100%;
    width:100%;
}
.pMiddle{
    max-height:100%;
    max-width: 100%;
    height: 282px;
    width: 210px;

}

/* search page ------------------------------------------------------------------------------------------------- */
.searchresults{
    margin-top: 5%;
    display:none;
    width:100%;
    align-items: center;
    flex-wrap: wrap;
}
.searchColumn{
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 200px;
    cursor: pointer;
    outline: none;
}

.searchTvShow{
    height: 100px;
    width: 200px;
}

.results{
    color: white;
    background-color: #141414;
    width: 200px;
    height: 100px;
    cursor: pointer;
    outline: none;
    border: none;
    font: sans-serif;
}
.results:hover{
    color: red;
}

/* result page ------------------------------------------------------------------------------------------ */
.resultPage{
    display:none;
    font-family: 'Assistant';
    
}
.resultContent{
    width: 100%;
    height: 400px;
    margin-top: 5%;
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 38%, rgba(229,9,20,1) 91%);
    margin-left: 3%;
}
.descriptionContent{
    width: 60%;
    text-align: center;
    margin-left: 3%;
}
.showTitle, .episodeName, .episodeDate, .episodeSeason,.showDescription{ 
    color:white;
    text-align: left;
}
.showPicture{
    float:right;
}
.descriptionTitle{
    color:white;
    text-align: left;
}
.resultBackground{
    width:100%;
}
.playButton{
    width:200px;
    height:50px;
    background: white;
    font-family: 'Assistant';
    font-size: 20px;
    font-weight:bold;
    border-radius: 8px;
    outline: none;
    border: none;
    /* margin-left: 3%; */
}
.playButton:hover{
    background: lightgrey;
}
.shuffleButton{
    width:200px;
    height:50px;
    background: grey;
    font-family: 'Assistant';
    font-size: 20px;
    font-weight:bold;
    border-radius: 8px;
    outline: none;
    border: none;
}
.shuffleButton:hover{
    background:darkgrey;
}
/* .descriptionButton{
    font: sans-serif;
    font-size: 20px;
} */
/* .episodeName{
    color: white;
}
.episodeDate{
    color:white;
}
.episodeSeason{
    color: white;
}
.showDescription{
    color:white;
} */