/* header --------------------------------------------------------------------- */
body{
    background-color: #141414;
    width:95%;
}

.top-container{
    padding-top: 2%;
    padding-left: 3%;
    width: 100%;
    height: 1%;
    display: flex;
    align-items: center;
}
.header{
    float: left;
    width: 10%;
    
    cursor: pointer;

}
.searchbar{
    margin-left: 5%;
    height: 30px;
    background-color: #141414;
    border-color: white;
    border-width: 1px;
    width: 30%;
    outline: none;
    border-style:solid;
}
.close{
    color: white;
    font-family: 'Assistant';
    font-size: 20px;
    margin: 0;
    padding-left: 8px;
    cursor: pointer;
    display: none;
    font-weight: bold;
}

input, select, textarea{
    color:white;
}

/* Popular shows------------------------------------------------------------------------------------------------------------------------------------ */
.homepage{
    width:100%;
}
.homepageTitle{
    color: white;
    font-family: 'Assistant';
    padding-top: 4%;
    padding-left: 2%;
}
.popularshows{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 2.5%;
}

.popularcard{
    display: table;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: start;
}

.column{
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 210px;
    cursor: pointer;
    outline: none;
    border:none;
    transition: transform .2s;
}
.column:hover{
    transform: scale(1.1);
}

.popularTvShow{
    height: 282px;
    width: 210px;
} 

.popular-img{
    height: 100%;
    width:100%;
}
.pMiddle{
    max-height:100%;
    max-width: 100%;
    height: 282px;
    width: 210px;

}

/* search page ------------------------------------------------------------------------------------------------- */
.searchresults{
    margin-top: 5%;
    display:none;
    /* width:100%; */
    align-items: center;
    flex-wrap: wrap;
    margin-left: 10%;
}
.searchColumn{
    color:white;
    display: table-cell;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    padding:0;
    width: 210px;
    height: 400px;
    cursor: pointer;
    outline: none;
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    font-family:'Assistant';
}
.searchResultName{
    width: 90%;
    margin-left: 5%;
}


.results{
    /* color: white;
    background-color: #141414;
    height: 400px;
    width: 210px;
    cursor: pointer;
    outline: none;
    border: none;
    font-family:'Assistant';
    border-color: white;
    border-width: 3px;
    border-style: solid; */
}
.results:hover{
    color: red;
}
.searchPicture{
    width:100%;
    /* height: 100%; */
}

/* result page ------------------------------------------------------------------------------------------ */
.resultPage{
    display:none;
    font-family: 'Assistant';
    
}
.resultInfo{
    /* display:inline-flex; */
    width:100%;
    z-index: 1;
}

.resultContent{
    width: 100%;
    margin-top: 1%;
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 37%, rgba(95,15,13,1) 54%, rgba(196,9,4,1) 75%, rgba(246,6,0,0.9206057422969187) 80%, rgba(235,54,36,0.6937149859943977) 82%, rgba(238,40,26,0.38279061624649857) 84%, rgba(231,68,46,0.024247198879551846) 90%);
    margin-left: 3%;
    display:inline-flex;
}
.resultContent-blankPhoto{
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 38%, rgba(229,9,20,1) 91%); 
    margin-left: 3%;
    display:inline-flex;
    width: 100%;
    height: 400px;
    margin-top: 5%;
}
/* for laptops */
@media (max-width: 1600px){
    .resultContent{
    background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 35%, rgba(95,15,13,1) 54%, rgba(196,9,4,1) 70%, rgba(246,6,0,0.9206057422969187) 75%, rgba(238,40,26,0.3211659663865546) 80%, rgba(231,68,46,0.024247198879551846) 84%);
    }
}
/* for phones */
@media (max-width: 1000px){
    .resultContent{
        background: rgb(20,20,20);
    background: linear-gradient(90deg, rgba(20,20,20,1) 35%, rgba(95,15,13,1) 50%, rgba(196,9,4,1) 58%, rgba(246,6,0,0.9206057422969187) 61%, rgba(238,40,26,0.3211659663865546) 65%, rgba(231,68,46,0.024247198879551846) 70%);
    }
}
.descriptionContent{
    width: 94%;
    text-align: center;
    margin-left: 3%;
    border-left-color: #e7442e;
    border-left-width: 3px;
    border-left-style: solid;
    padding-left: 5px;
}

.showTitle, .episodeName, .episodeDate, .episodeSeason,.showDescription{ 
    color:white;
    text-align: left;
}
.belowButtons, .ratings-country-season{
    text-align: left;
    color:gray;
}
.showPicture{
    justify-content: flex-end;
    z-index: -1;
}
.noImage{
    background-color: #e7442e;
    width:100%;
    height: 100%;
}

.descriptionTitle{
    color:white;
    text-align: left;
}
.resultBackground{
    width:100%;
}
.play{
    height:30%;
    padding-right: 1px;
}

.playButton{
    width:200px;
    height:50px;
    background: white;
    font-family: 'Assistant';
    font-size: 20px;
    font-weight:bold;
    border-radius: 8px;
    outline: none;
    border: none;
    /* margin-left: 3%; */
}
.playButton:hover{
    background: lightgrey;
}
.shuffleButton{
    width:200px;
    height:50px;
    background: grey;
    font-family: 'Assistant';
    font-size: 20px;
    font-weight:bold;
    border-radius: 8px;
    outline: none;
    border: none;
}
.shuffleButton:hover{
    background:darkgrey;
}
.episodeDate{
    display:inline;
    font-size: 25px;
}
.showTitle{
    display:inline;
    color: #e7442e;
    padding-right: 3px;
    font-size: 25px;
    font-weight: bold;
    /* change this to flex box in line? */
}
.rating, .country, .seasons{
    display:inline;
    margin: auto;
}
.country{
    border-color: gray;
    border-width: 1px;
    border-style: solid;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right:5px;
}
.buttons{
    margin-top: 3%;
    margin-bottom: 3%;
}
.network{
    margin-bottom: 0;
}
.genres{
    margin-top:0;
}
.date-title{
    margin-bottom:10px;
}
.episodeSeason{
    font-size: 30px;
}
.episodeName{
    font-size: 40px;
}